.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--header-height));
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 3rem;

  .email {
    margin: 0 auto 1rem;
  }

  .profileIcon {
    max-width: 7rem;
    width: 7rem;
    margin-bottom: 1rem;
    height: auto;
  }
}
