.submitButton {
  width: 24rem;
  margin: 1.5rem auto 0;

  &:disabled {
    background-color: var(--color-green-light);
    border-color: var(--color-green-light);
    cursor: default;
  }
}

.backButton {
  width: 24rem;
  margin: 0.8rem auto 0;
}
