.fullHeightCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--header-height));
  text-align: center;
  padding-bottom: 3rem;
  box-sizing: border-box;
}

.titleBig {
  font-size: calc(32rem / 16);
  font-weight: var(--font-weight-bold);
  margin: 0 auto 1rem;
  color: var(--color-blue-dark);
}

.titleMedium {
  font-size: calc(24rem / 16);
  font-weight: var(--font-weight-bold);
  margin: 0 auto 1rem;
  line-height: 1;
  color: var(--color-blue-dark);
}

.titleSmall {
  font-size: calc(22rem / 16);
  font-weight: var(--font-weight-bold);
  margin: 0 auto 0.5rem;
  line-height: 1;
  color: var(--color-blue-dark);
}

.buttonGreen {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  color: #fff;
  background-color: var(--color-green);
  padding: 0.5rem 2rem;
  border-radius: 100px;
  border: 1px solid var(--color-green);
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;

  &:hover {
    background-color: var(--color-green-light);
    border: 1px solid var(--color-green-light);
  }

  &:focus {
    outline: none;
  }
}

.buttonOrange {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  color: #fff;
  background-color: var(--color-orange);
  padding: 0.5rem 2rem;
  border-radius: 100px;
  border: 1px solid var(--color-orange);
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;

  &:hover {
    background-color: var(--color-orange-light);
    border: 1px solid var(--color-orange-light);
  }

  &:focus {
    outline: none;
  }
}

.buttonBlue {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  color: #fff;
  background-color: var(--color-blue-medium);
  padding: 0.5rem 2rem;
  border-radius: 100px;
  border: 1px solid var(--color-blue-medium);
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;

  &:hover {
    background-color: #b4c7e2;
    border: 1px solid #b4c7e2;
  }

  &:focus {
    outline: none;
  }
}

.inputfield {
  display: block;
  width: 24rem;
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-blue-light);
  border-radius: 100px;
  box-sizing: border-box;
  color: var(--color-blue);

  + .inputfield {
    margin-top: 0.8rem;
  }

  &::placeholder {
    color: var(--color-blue-medium);
  }

  &:focus {
    outline: none;
  }
}

.errorMsg {
  font-size: var(--font-size-small);
  line-height: 1.4;
  color: var(--color-orange);
  max-width: 22rem;
  margin: 0 auto 1rem;
}
