.titleBlock {
  text-align: center;
  max-width: 30rem;
  margin-bottom: 2rem;

  .projectInfo {
    display: block;
    color: var(--color-green);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.5rem;
    text-decoration: none;
  }
}

.memberInfos {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .infoCard {
    border: 2px solid var(--color-blue-light);
    border-radius: 20px;
    padding: 1.5rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .unorderedList {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .cardTitle {
      font-size: var(--font-size-big);
      font-weight: var(--font-weight-bold);
      color: var(--color-blue-dark);
      margin: 0 0 1rem;
    }

    .projectMember {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      + .projectMember {
        margin-top: 0.5rem;
      }
    }

    .removeButton {
      padding: 0.3rem 1.5rem;
      margin-left: auto;

      + .removeButton {
        margin-top: 0.3rem;
      }
    }

    .acceptButton {
      padding: 0.3rem 1.5rem;
      margin-left: auto;

      + .acceptButton {
        margin-top: 0.3rem;
      }
    }

    .joinButton {
      align-self: center;
      margin-top: 0.5rem;
      padding: 0.3rem 1.5rem;
    }
  }
}

.commentSection {
  margin-top: 1rem;
}
