.commentContainer {
  width: 47.5rem;
  min-width: 47.5rem;
  list-style: none;
  padding: 0;
  margin: 0;

  .commentItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1rem 0.8rem 1.2rem;
    background-color: var(--color-blue-light);
    color: var(--color-blue);
    font-size: var(--font-size-small);
    border-radius: 20px;
    text-align: left;

    + .commentItem {
      margin-top: 0.5rem;
    }

    .userInfo {
      color: var(--color-green);
      margin-bottom: 0.3rem;
    }

    .likeContainer {
      display: flex;
      align-items: center;
      font-weight: var(--font-weight-bold);

      .likeButton {
        background-color: none;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      .heartIcon {
        width: 20px;
        height: auto;
      }
    }
  }
}
