.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2.5rem;
  border: 2px solid var(--color-blue-light);
  border-radius: 20px;
  text-decoration: none;
  box-sizing: border-box;
  width: 27vw;
  min-width: 27vw;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-blue-light);
  }

  .projectCourse {
    color: var(--color-green);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 1rem;
  }

  .projectDescription {
    margin: 0;
    color: var(--color-blue);
  }
}
