@import "./styles/variables.scss";
@import "./styles/fonts.scss";

body {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  color: var(--color-blue);
}
